h1 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Baloo";
}

body {
  background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div {
  margin: 0;
  padding: 0;
}

.title, .score-title {
  color: #ccc;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.field-block {
  background: rgba(0,0,0,0.5);
  width: 20px;
  height: 20px;
}

.wrapper {
  position: relative;
  max-width: 400px;
  margin: 15px auto;
}

.container {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  z-index: 1;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.9);
}

.gameover {
  z-index: 50;
  position: absolute;
  top: 100px;
  left: 140px;
  color: red;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.newgame {
  color: #ccc;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.newgame:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.toggled {
  background-image: url("../img/circle.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.snake {
  background-image: url("../img/snake.png");
  background-size: cover;
}

.food {
  background-image: url("../img/food.png");
  background-size: cover;
}
